.editor {

    .root {

        word-wrap: break-word;

        .bold {
            font-weight: bold;
        }

        .italic {
            font-style: italic;
        }

        .deleted {
            text-decoration: line-through;
        }

        .subscript {
            vertical-align: sub;
        }

        .superscript {
            vertical-align: super;
        }

    }

}