.wysiwyg {
    height : calc(100% - 4px);
    display: flex;
    flex-direction: column;

    div[contenteditable=true] {
        outline: 0;

        .editor-selected {
            border : 1px solid var(--color-selected);
        }

    }
}