.month {
    position: relative;
}
.month .overlay {
    background-color: var(--color-background-tertiary);
    position: absolute;
    width: 200px;
    top: 50px;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.month div.overlay div.item {
    color: var(--color-text);
    padding: 5px;
    flex: 1;
}

.month div.overlay div.item:hover {
    background-color: var(--color-selected);
    color: var(--color-background-primary);
}

.month button {
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: var(--color-text);
}

.month button:hover {
    color: var(--color-selected);
}

.month .button-up {
    position : absolute;
    top : -20px;
    width: 100%;
}

.month .button-down {
    position : absolute;
    bottom : -20px;
    left: 0;
    width: 100%;
}